<h1><%-title %></h1>
<div class="col-lg-6">
    <div class="card" style="width: 18rem;">
        <img src=<%= img %> class="card-img-top" alt="no card found">
        <div class="card-body">
            <p class="card-text"><%= admin.name %></p>
        </div>
    </div>
</div>

<div class="col-lg-6">

<ul class="list-group">
    
        <li class="list-group-item">
            <p>Name: <%= admin.name %></p>
            <p> Email: <%= admin.email %></p>
            <p> Age: <%= admin.age %></p>
            <p> Gender: <%= admin.gender %></p>
            <p>Address: <%= admin.address %></p>
            <p> Role: <%= admin.role %></p>
        </li>
    
</ul>
</div>

 